In [1]:
import pandas as pd
from database.sec import SEC

In [2]:
test = pd.DataFrame([{"test":"test"},{"hello":"world"}])

In [3]:
sec = SEC()

In [4]:
sec.connect()
sec.store("test",test)
sec.disconnect()

In [5]:
sec.connect()
t = sec.retrieve("test")
sec.disconnect()

In [6]:
t

                        _id  test  hello
0  60e86d96337d13e057deebd0  test    NaN
1  60e86d96337d13e057deebd1   NaN  world